<div class="col-12">
  <div class="row no-gutters">
    <div class="col" align="center">
      <div class="badge badge-pill badge-primary mx-auto">{{player.name}}</div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-11" align="center" *ngIf="player.me">
      <div class="card-container" *ngFor="let card of player.deck">
        <app-card [card]="card" (clickedCardEmitter)="clickedCard($event)"></app-card>
      </div>
    </div>
    <div class="col" align="center">
      <app-card [card]="player.advice"></app-card>
    </div>
  </div>
</div>
