<div class="gameroom">
  <!-- Played Cards Row -->
  <div class="row no-gutters">
    <div class="col-12">

      <!-- Top Row -->

      <div class="row no-gutters justify-content-center" >
        <div class="col-4" *ngIf="player1 != null">
          <app-player [player]="player1"></app-player>
        </div>
      </div>
      <!-- Middle Row -->
      <div class="row no-gutters justify-content-center" >
        <div class="col-4" *ngIf="player2 != null">
          <app-player [player]="player2"></app-player>
        </div>
        <div class="col-4">
          Pli
          <div class="card-list-container">
            <div class="card-container" *ngFor="let card of listPlayerCards">
              <app-card [card]="card"></app-card>
            </div>
          </div>
        </div>
        <div class="col-4" *ngIf="player3 != null">
          <app-player [player]="player3"></app-player>
        </div>
      </div>
      <!-- Bottom Row -->
      <div class="row no-gutters justify-content-center">
       <app-player [player]="me" (clickedCardEmitter)="clickedCard($event)"></app-player>
      </div>

    </div>
  </div>

  

</div>
